{% extends "leagues/preview_layout.html" %}
{% set active_page = "groups" %}
{% block league_preview_content %}
  {% for group_id, obj in league.groups.items() %}
    <hr>
    <div class="row text-xl-center group-head">
      <div class="col-xl">
        <h2>Group {{ loop.index }}</h2>
      </div>
    </div>
    <hr>
    {% for player in obj['group'].players %}
      <div class="row group-row">
        <div class="col-md text-center">
          <h5>{{player.name + " " + player.last_name}}</h5>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock league_preview_content %}
