{% extends "layout.html" %}
{% block content %}
  <table class="table table-hover">
    <thead>
      <th>
        Date Started
      </th>
      <th>
        Owner
      </th>
      <th>
        Name
      </th>

    </thead>
    <tbody>
      {% for league in leagues %}
      <tr class="clickable-row"
      data-href="{% if league.date_started %}
          {{url_for('leagues.main_view', id=league.id)}}
        {% else %}
          {{url_for('leagues.start', id=league.id)}}
        {% endif %}
        ">
          <td>{% if league.date_started %} {{league.date_started.strftime('%Y-%m-%d')}} {% endif %}</td>
          <td>{{league.owner.username}}</td>
          <td>{{league.name}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
