{% extends "leagues/phase_layout.html" %}
{% set active_page = "matches" %}
{% block phase_content %}
  {% for group_id, obj in current_phase.groups.items() %}
    <div class="row text-xl-center group-head">
      <div class="col-xl">
        <h2>Group {{ loop.index }}</h2>
      </div>
    </div>
    {% for encounter_id, encounter in obj.encounters.items() %}
      {% set finish_match= url_for(
          'leagues.encounter',
          id=league.model.id,
          phase_num=current_phase_num|int,
          group_id=group_id,
          encounter_id=encounter_id
        )
      %}
      <div class="row clickable-row group-row-hoverable group-row"
           data-href="{{ finish_match }}">
        <div class="col-md">
          <h5>{{encounter.matches[0].player_one.name + " " + encounter.matches[0].player_one.last_name}}</h5>
        </div>
        <div class="col-sm text-center">
          <h5>{{encounter.p1}} : {{encounter.p2}}</h5>
        </div>
        <div class="col-md">
          <h5>{{encounter.matches[0].player_two.name + " " + encounter.matches[0].player_two.last_name}}</h5>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock phase_content %}
