{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    {% if league.date_started %}
      <ul class="nav nav-tabs">
        {% for i, phase in phases.items() %}
          <li class="nav-item">
            {% if phase_num|int == i or (i == 0 and not phase_num) %}
              <a class="nav-link active" style="color: black" href="{{url_for('edit_leagues', league_id=league.id, phase=i)}}"> Faza {{ i + 1 }} </a>
            {% else %}
              <a class="nav-link" style="color: gray" href="{{url_for('edit_leagues', league_id=league.id, phase=i)}}"> Faza {{ i + 1 }} </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if phase_num %}
        {% set groups = phases[phase_num|int] %}
      {% else %}
        {% set groups = phases[0] %}
      {% endif %}
      {% for k, group in groups.items() %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="3" class="text-center">Group {{loop.index}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for key, encounter in group.items() %}
              <tr>
                <td>{{encounter.matches[0].player_one.name + " " + encounter.matches[0].player_one.last_name}}</td>
                <td>{{encounter.p1}} : {{encounter.p2}}</td>
                <td>{{encounter.matches[0].player_two.name + " " + encounter.matches[0].player_two.last_name}}</td>
                {% if not encounter.done %}
                  <td><a role="button" href="{{url_for('finish_match', matches=encounter.id)}}" class="btn btn-secondary">edit</a></td>
                {% else %}
                  <td></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <br><br>
      {% endfor %}
      <br />
      <br />
      {% if end_form %}
        <form method="POST" action="">
          {{ end_form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">End League</legend>
            <div class="form-group">
              {{ end_form.date_ended.label(class="form-control-label") }}
              {% if end_form.date_ended.errors %}
                {{ end_form.date_ended(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in end_form.date_ended.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ end_form.date_ended(class="date form-control form-control-lg") }}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group">
            {{ end_form.end(class="btn btn-outline-info") }}
          </div>
        </form>
      {% endif %}
    {% else %}
      <form method="POST" action="">
        {{ add_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Available players</legend>
          <div class="form-group">
            {% if add_form.players_to_add.errors %}
              {{ add_form.players_to_add(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in add_form.players_to_add.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ add_form.players_to_add(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ add_form.add(class="btn btn-success") }}
        </div>
      </form>
      <form method="POST" action="">
        {{ remove_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Playing</legend>
          <div class="form-group">
            {% if remove_form.players_to_remove.errors %}
              {{ remove_form.players_to_remove(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in remove_form.players_to_remove.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ remove_form.players_to_remove(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ remove_form.remove(class="btn btn-danger") }}
          <span style="float: right">Number of Players: {{ nplayers }}</span>
        </div>
      </form>
      <form method="POST" action="">
        {{ start_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Start league</legend>
          <div class="form-group">
            {{ start_form.date_started.label(class="form-control-label") }}
            {% if start_form.date_started.errors %}
              {{ start_form.date_started(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in start_form.date_started.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ start_form.date_started(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ start_form.group_size.label(class="form-control-label") }}
            {% if start_form.group_size.errors %}
              {{ start_form.group_size(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in start_form.group_size.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ start_form.group_size(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ start_form.number_of_phases.label(class="form-control-label") }}
            {% if start_form.number_of_phases.errors %}
              {{ start_form.number_of_phases(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in start_form.number_of_phases.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ start_form.number_of_phases(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ start_form.start(class="btn btn-outline-info") }}
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
