{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    {% if end_form %}
      <form method="POST" action="">
        {{ end_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">End League</legend>
          <div class="form-group">
            {{ end_form.date_ended.label(class="form-control-label") }}
            {% if end_form.date_ended.errors %}
              {{ end_form.date_ended(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in end_form.date_ended.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ end_form.date_ended(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ end_form.end(class="btn btn-outline-info") }}
        </div>
      </form>
    {% else %}
      <form method="POST" action="">
        {{ add_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Remove player from league</legend>
          <div class="form-group">
            {{ add_form.players_to_add.label(class="form-control-label") }}
            {% if add_form.players_to_add.errors %}
              {{ add_form.players_to_add(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in add_form.players_to_add.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ add_form.players_to_add(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ add_form.add(class="btn btn-success") }}
        </div>
      </form>
      <form method="POST" action="">
        {{ remove_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Remove player from league</legend>
          <div class="form-group">
            {{ remove_form.players_to_remove.label(class="form-control-label") }}
            {% if remove_form.players_to_remove.errors %}
              {{ remove_form.players_to_remove(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in remove_form.players_to_remove.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ remove_form.players_to_remove(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ remove_form.remove(class="btn btn-danger") }}
        </div>
      </form>
      <form method="POST" action="">
        {{ start_form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Start league</legend>
          <div class="form-group">
            {{ start_form.date_started.label(class="form-control-label") }}
            {% if start_form.date_started.errors %}
              {{ start_form.date_started(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in start_form.date_started.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ start_form.date_started(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ start_form.start(class="btn btn-outline-info") }}
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
