{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    {% for form in forms %}
      <form method="POST" action="">
        {{ form["form"].hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Finish Match</legend>
          <div class="form-group form-inline">
            {{ form["form"].player_one_score.label(class="label form-control-label") }}
            {% if form["form"].player_one_score.errors %}
              {{ form["form"].player_one_score(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form["form"].player_one_score.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form["form"].player_one_score(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group form-inline">
            {{ form["form"].player_two_score.label(class="label form-control-label") }}
            {% if form["form"].player_two_score.errors %}
              {{ form["form"].player_two_score(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form["form"].player_two_score.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form["form"].player_two_score(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form["form"].played_on.label(class="form-control-label") }}
            {% if form["form"].played_on.errors %}
              {{ form["form"].played_on(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form["form"].played_on.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form["form"].played_on(class="date form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form["form"][form["match_id"]](class="btn btn-outline-info") }}
        </div>
      </form>
    {% endfor %}
  </div>
{% endblock content %}
