{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <table class="table table-hover">
      <th scope="col"> # </th>
      <th scope="col"> Creator </th>
      <th scope="col"> Name </th>
      <th scope="col"> Edit </th>
      {% for i in range(leagues|length) %}
        <tr>
          <td> {{ i + 1 }} </td>
          <td> {{ leagues[i].owner.username }} </td>
          <td> {{ leagues[i].name }} </td>
          {% if leagues[i].date_ended is none %}
          <td><a role="button" href="{{ url_for('edit_leagues', league_id=leagues[i].id)}}" class="btn btn-secondary">edit</a></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
